body {
	font-family: sans-serif;
	max-width: 800px;
	margin: auto;
}

nav {
	background: #e6e6e6;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
}

textarea {
	resize: none;
	width: 100%;
}

label {
	margin-top: 10px;
}

#send {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

#send > input {
	width: 200px;
	height: 40px;
}